<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<date>2012-01-01T03:56:49Z</date>
		<key>income</key>
		<integer>1000</integer>
		<key>expenditure</key>
		<integer>61</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-02T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-03T03:56:49Z</date>
		<key>income</key>
		<integer>2000</integer>
		<key>expenditure</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-04T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>43</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-05T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-06T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-07T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-08T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-09T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-10T03:56:49Z</date>
		<key>income</key>
		<integer>100</integer>
		<key>expenditure</key>
		<integer>61</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-11T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-12T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-13T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-14T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-15T03:56:49Z</date>
		<key>income</key>
		<integer>100</integer>
		<key>expenditure</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-16T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-17T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-01-18T03:56:49Z</date>
		<key>income</key>
		<integer>0</integer>
		<key>expenditure</key>
		<integer>31</integer>
	</dict>
</array>
</plist>
